public/resources/tjbot/advanced_flows/see_and_speak.json
[{"id":"e59648a.92a05b8","type":"inject","z":"1707110b.120dcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":620,"wires":[["c3279653.721e98"]]},{"id":"c3279653.721e98","type":"tjbot-see","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"see","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"","x":390,"y":620,"wires":[["dd776c20.36797"]]},{"id":"dd776c20.36797","type":"function","z":"1707110b.120dcf","name":"Filtro","func":"var elementos = \"En este momento estoy viendo...\";\n\nfor(var elemento in msg.payload){\n    elementos += msg.payload[elemento].class + \", \";\n}\nmsg.payload = elementos;\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["5e85b4e.991c44c"]]},{"id":"5eb85882.72a378","type":"tjbot-speak","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"speak","payload":"","name":"","x":870,"y":620,"wires":[[]]},{"id":"e1bbdc42.3a5f9","type":"comment","z":"1707110b.120dcf","name":"Describir lo que se ve","info":"","x":240,"y":540,"wires":[]},{"id":"5e85b4e.991c44c","type":"tjbot-translate","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","srcLang":"en","targetLang":"es","mode":"translate","name":"","x":700,"y":620,"wires":[["5eb85882.72a378"]]},{"id":"f456048e.f1b6e8","type":"tjbot-config","z":"","botGender":"female","name":"TJBot","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0"}]