public/resources/tjbot/advanced_flows/selfie_to_twitter.json
[{"id":"c63ee82d.6f7918","type":"inject","z":"1707110b.120dcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1220,"wires":[["bb5a15d.d302ee8"]]},{"id":"52eabff1.c354e","type":"tjbot-see","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"takephoto","verticalFlip":true,"horizontalFlip":false,"width":960,"height":720,"name":"Selfie","x":490,"y":1220,"wires":[["301e130.a8f72ee"]]},{"id":"301e130.a8f72ee","type":"file in","z":"1707110b.120dcf","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":640,"y":1220,"wires":[["8332a3a6.30787"]]},{"id":"8332a3a6.30787","type":"change","z":"1707110b.120dcf","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"¡Hola desde TJBot! En la escuela secondaria Pestalozzi, @citizenIBM de mano con @FondoUnidoMx le dimos vida a más #TJBot !!!!. Esta publicación fue hecha desde un #TJBot. @ibm_mx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1220,"wires":[["1708a569.3ac1fb"]]},{"id":"8d21312.b9512d","type":"comment","z":"1707110b.120dcf","name":"Tomar una selfie","info":"","x":220,"y":1160,"wires":[]},{"id":"bb5a15d.d302ee8","type":"delay","z":"1707110b.120dcf","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1220,"wires":[["52eabff1.c354e"]]},{"id":"1708a569.3ac1fb","type":"twitter out","z":"1707110b.120dcf","twitter":"","name":"Tweet","x":1020,"y":1220,"wires":[]},{"id":"f456048e.f1b6e8","type":"tjbot-config","z":"","botGender":"female","name":"TJBot","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0"}]