public/resources/tjbot/advanced_flows/speak_weather.json
[{"id":"55917fad.66847","type":"inject","z":"1707110b.120dcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1060,"wires":[["492ec468.109f8c"]]},{"id":"bcfb416f.e7cc4","type":"function","z":"1707110b.120dcf","name":"Reportando el clima","func":"msg.payload = \"El reporte del clima es, \" + msg.payload.detail\n    + \", tenemos una temperatura de \" + msg.payload.tempc\n    + \"grados, y humedad máxima del \" + msg.payload.humidity\n    + \" porciento.\";\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":1060,"wires":[["6c5f1d0a.fe4f84"]]},{"id":"6c5f1d0a.fe4f84","type":"tjbot-speak","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"speak","payload":"","name":"","x":830,"y":1060,"wires":[[]]},{"id":"c867a287.4647e","type":"comment","z":"1707110b.120dcf","name":"Reportar el clima","info":"","x":220,"y":980,"wires":[]},{"id":"492ec468.109f8c","type":"openweathermap","z":"1707110b.120dcf","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":410,"y":1060,"wires":[["bcfb416f.e7cc4"]]},{"id":"f456048e.f1b6e8","type":"tjbot-config","z":"","botGender":"female","name":"TJBot","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0"}]