public/resources/tjbot/advanced_flows/twitter_and_feelings.json
[{"id":"5bfc48a8.2e2098","type":"tjbot-analyze-tone","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","name":"Analizar emociones","x":370,"y":840,"wires":[["86f3fec5.e94fc"]]},{"id":"a0185a80.aa4798","type":"switch","z":"1707110b.120dcf","name":"Decidiendo como te sientes","property":"response.document_tone.tones[0].tone_name","propertyType":"msg","rules":[{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Analytical","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":920,"y":840,"wires":[["d4277a5f.b203c8"],["2d02b2b3.4e4dce"],["966e42df.017f1"],["fbce8481.488468"],["bc5a93a4.386b9"]]},{"id":"d4277a5f.b203c8","type":"tjbot-shine","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"pulse","color":"red","duration":"2","name":"Enojado","x":1180,"y":740,"wires":[]},{"id":"2d02b2b3.4e4dce","type":"tjbot-shine","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"pulse","color":"green","duration":"2","name":"Disgustado","x":1190,"y":780,"wires":[]},{"id":"966e42df.017f1","type":"tjbot-shine","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"pulse","color":"magenta","duration":"2","name":"Miedo","x":1170,"y":820,"wires":[]},{"id":"fbce8481.488468","type":"tjbot-shine","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"pulse","color":"yellow","duration":"2","name":"Alegría","x":1180,"y":860,"wires":[]},{"id":"bc5a93a4.386b9","type":"tjbot-shine","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"pulse","color":"blue","duration":"2","name":"Triste","x":1170,"y":900,"wires":[]},{"id":"df9b9d30.3fb84","type":"comment","z":"1707110b.120dcf","name":"Analizar emociones","info":"","x":210,"y":720,"wires":[]},{"id":"f2545723.387c68","type":"debug","z":"1707110b.120dcf","name":"Sentimiento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":740,"wires":[]},{"id":"fa09e5af.9268d8","type":"debug","z":"1707110b.120dcf","name":"Tweet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":780,"wires":[]},{"id":"86f3fec5.e94fc","type":"switch","z":"1707110b.120dcf","name":"Si hay suficiente información","property":"response.document_tone.tones[0].score","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":840,"wires":[["a0185a80.aa4798","f2545723.387c68"]]},{"id":"fc71e0f4.05603","type":"twitter in","z":"1707110b.120dcf","twitter":"","tags":"","user":"false","name":"","inputs":1,"x":190,"y":840,"wires":[["fa09e5af.9268d8","5bfc48a8.2e2098"]]},{"id":"f456048e.f1b6e8","type":"tjbot-config","z":"","botGender":"female","name":"TJBot","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0"}]