public/resources/tjbot/advanced_flows/universal_translator.json
[{"id":"ef50eb7e.59ca78","type":"inject","z":"1707110b.120dcf","name":"Iniciar escucha","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["715090c.017687"]]},{"id":"6dc1e6ee.204758","type":"inject","z":"1707110b.120dcf","name":"Detener escucha","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":360,"wires":[["715090c.017687"]]},{"id":"715090c.017687","type":"change","z":"1707110b.120dcf","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["ae6d1989.c518e8"]]},{"id":"ae6d1989.c518e8","type":"tjbot-listen","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","name":"","x":640,"y":300,"wires":[["bbc14dd3.49ae","a032f4b2.bbf008"]],"icon":"node-red-node-watson/LanguageTranslator25x25.png"},{"id":"e4e4249b.53dce8","type":"tjbot-speak","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","mode":"speak","payload":"","name":"William habla","x":1170,"y":360,"wires":[[]]},{"id":"b3f80f34.94d23","type":"comment","z":"1707110b.120dcf","name":"Traducir un idioma","info":"","x":230,"y":180,"wires":[]},{"id":"bbc14dd3.49ae","type":"debug","z":"1707110b.120dcf","name":"Lo que escuché","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":220,"wires":[]},{"id":"a032f4b2.bbf008","type":"tjbot-translate","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","srcLang":"es","targetLang":"en","mode":"translate","name":"","x":800,"y":300,"wires":[["21a59860.cf2528"]]},{"id":"21a59860.cf2528","type":"change","z":"1707110b.120dcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[["c87e3477.012438"]]},{"id":"c87e3477.012438","type":"tjbot-translate","z":"1707110b.120dcf","botId":"f456048e.f1b6e8","srcLang":"es","targetLang":"en","mode":"translate","name":"","x":800,"y":360,"wires":[["e8ecf339.758ed"]]},{"id":"e8ecf339.758ed","type":"change","z":"1707110b.120dcf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.translations[0].translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":360,"wires":[["e4e4249b.53dce8"]]},{"id":"f456048e.f1b6e8","type":"tjbot-config","z":"","botGender":"female","name":"TJBot","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":"plughw:1,0"}]